.faq {
  background-color: var(--secondary-100);
}

.faq__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 70px;
}

.faq__title {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 121%;
  letter-spacing: -3%;
  max-width: 15ch;
}

.faq__description {
  color: var(--secondary-400);
  font-weight: 900;
  line-height: 150%;
  letter-spacing: -2%;
  max-width: 60ch;
  margin-block: 24px 40px;
}

.faq__buttons {
  display: flex;
  gap: 16px;
}

.faq__accordions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.accordion {
  background-color: var(--primary-0);
  padding: 24px;
  border-radius: 14px;
}

.accordion__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.accordion__question {
  color: var(--secondary-500);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -2%;
  max-width: 40ch;
}

.accordion__icon {
  width: 24px;
  height: 24px;
  transition: transform 0.5s;
}

.accordion.active .accordion__icon {
  transform: rotate(180deg);
}

.accordion__answer {
  color: var(--secondary-400);
  font-weight: 900;
  max-width: 52ch;
  line-height: 150%;
  letter-spacing: -2%;
}

@media (max-width: 1024px) {
  .faq__title {
    font-size: 2.5rem;
  }

  .faq__description {
    font-weight: 500;
  }

  .accordion__question {
    font-size: 1rem;
  }

  .accordion__answer {
    font-size: 0.875rem;
    font-weight: 500;
  }
}

@media (max-width: 768px) {
  .faq__wrapper {
    flex-direction: column;
    gap: 48px;
  }
}

@media (max-width: 475px) {
  .faq__title {
    font-size: 2rem;
  }

  .faq__description {
    font-size: 0.875rem;
  }

  .faq__btn {
    flex: 1;
  }

  .accordion {
    padding: 20px;
  }

  .accordion__question {
    font-size: 1rem;
    max-width: 24ch;
  }

  .accordion__icon {
    width: 15px;
    height: 15px;
  }

  .accordion__answer {
    font-size: 0.875rem;
  }
}
