.hero {
  background-color: #e6e7e9;
  background-image: url("https://images.unsplash.com/photo-1554908338-c9770e3acd0c?q=80&w=1078&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  margin-top: 70px;
  text-align: center;
  padding-inline: 24px;
}

.hero__content {
  padding-block: 48px;
}

.hero__badge {
  color: var(--primary-500);
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 9%;
}

.hero__title {
  color: var(--secondary-500);
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 121%;
  letter-spacing: -3%;
  max-width: 25ch;
  margin: 10px auto 14px;
}

.hero__description {
  color: var(--secondary-400);
  font-size: 1rem;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -2%;
  max-width: 65ch;
  margin-inline: auto;
}

.hero__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 32px;
}

.hero__btn {
  background: none;
  border: none;
  outline: none;
  border: 1px solid #dce4e8;
  border-radius: 10px;
  padding: 13px 24px;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -2%;
  cursor: pointer;
}

.hero__btn--primary {
  background-color: var(--primary-500);
  color: var(--primary-0);
  border-color: var(--primary-600);
}

.hero__btn--secondary {
  background-color: var(--primary-0);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.hero__thumbnail {
  text-align: center;
  width: 100%;
}

.hero__thumbnail img {
  width: 100%;
}

.hero__small-image {
  display: none;
}

@media (max-width: 1024px) {
  .hero__title {
    font-size: 2.8rem;
  }
}

@media (max-width: 768px) {
  .hero__badge {
    font-size: 0.875rem;
  }

  .hero__title {
    font-size: 2.4rem;
    max-width: 16ch;
  }

  .hero__description {
    font-size: 0.9375rem;
    max-width: 50ch;
  }
}

@media (max-width: 475px) {
  .hero {
    padding-bottom: 50px;
  }

  .hero__badge {
    font-size: 0.75rem;
  }

  .hero__title {
    font-size: 2rem;
  }

  .hero__description {
    font-size: 0.875rem;
    max-width: 40ch;
  }

  .hero__buttons {
    flex-direction: column;
    align-items: initial;
  }

  .hero__large-image {
    display: none;
  }

  .hero__small-image {
    display: block;
  }
}
