/* 2xl */
/* @media (max-width: 1440px) {} */

/* xl */
/* @media (max-width: 1280px) {} */

/* lg */
/* @media (max-width: 1024px) {} */

/* md */
/* @media (max-width: 768px) {} */

/* sm */
/* @media (max-width: 640px) {} */

/* xs */
/* @media (max-width: 475px) {} */

.container {
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 0.5rem;
}

section {
  padding-block: 100px;
}

.btn {
  background: none;
  border: none;
  outline: none;
  border: 1px solid #dce4e8;
  border-radius: 10px;
  padding: 12px 24px;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -2%;
  cursor: pointer;
}

.btn--secondary {
  background-color: var(--primary-0);
  color: #1a1c1e;
}

.btn--primary {
  background-color: var(--primary-500);
  color: var(--primary-0);
  border-color: var(--primary-600);
}

/* 2xl */
@media (max-width: 1440px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }

  .header__btn {
    padding: 8px 12px;
    font-size: 0.75rem;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }

  section {
    padding-block: 65px;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
}
